/* 
    Document   : index
    Created on : 3/07/2013, 06:32:54 PM
    Author     : jmrg
    Description:
        Purpose of the stylesheet follows.
*/
.todo
{
    float: left;
    width: 1366px;
    height: 768px;
    background: #3C5126;
}
.header
{
    float: left;
    width: 1366px;
    height: 95px;
    background: #88B441;
    border-bottom: 5px solid #BFC4A5;
}
.cajaTitulo
{
    float: left;
    width: 300px;
    height: 95px;
    margin: 0px 0px 0px 533px;;
}
.cajaTitulo img
{
    width: 300px;
    height: 95px;
}
.cajaFacebook
{
    float: left;
    width: 25px;
    height: 25px;
    margin: 37.5px 0px 0px 10px;
}
.cajaFacebook img,
.cajaTwitter img
{
    width: 25px;
    height: 25px;
}
.cajaTwitter
{
    float: left;
    width: 25px;
    height: 25px;
    margin: 37.5px 0px 0px 20px;
}
.cajaTodasImagenes
{
    margin: 0 auto;
    width: 975px;
    height: 768px;
    z-index: 1;
    background: #697E55;
}
.home
{
    position: absolute;
    width: 200px;
    height: 30px;
    background: #000;
    opacity: .7;
    font-weight: bold;
    margin: 100px 0px 0px 0px;
    text-align: center;
    border-radius: 0px 0px 8px 8px;
    border-right: 1px solid #FFF;
    border-left: 1px solid #FFF;
    border-bottom: 1px solid #FFF;
}
.home a,
.contacto a
{
    text-decoration: none;
    color: #FFF;
}
.contacto
{
    position: absolute;
    width: 200px;
    height: 30px;
    background: #000;
    opacity: .7;
    font-weight: bold;
    margin: 100px 0px 0px 773px;
    text-align: center;
    border-radius: 0px 0px 8px 8px;
    border-right: 1px solid #FFF;
    border-left: 1px solid #FFF;
    border-bottom: 1px solid #FFF;
}
.imagenPrincipal
{
    float: left;
    width: 660px;
    height: 375px;
}
.imagenPrincipal img
{
    width: 660px;
    height: 375px;
}
.imagenesColumnas
{
    float: left;
    width: 315px;
}
.imagenesCol
{
    float: left;
    width: 150px;
    height: 117px;;
    margin: 5px 0px 0px 5px;
}
.imagenesColUno{
    margin: 10px 0px 0px 5px;
}
.imagenesCol img
{
    width: 150px;
    height: 117px;
}
.imagenesFooter
{
    float: left;
}
.imgFooter
{
    float: left;
    width: 225px;
    height: 130px;
    margin: 15px 0px 0px 10px;
}
.imgFooterUno
{
    margin: 15px 0px 0px 20px; 
}
.imgFooter img
{
    width: 225px;
    height: 130px;
    border-radius: 8px 8px 8px 8px;
    border: 1px solid #FFF;
}
.logoFinal
{
    float: left;
    width: 200px;
    height: 100px;
    background: #FFF;
    margin: 20px 0px 0px 387.5px;
}