/* 
 * Estilos para barra de navegación de categorias
 */

.imagenPrincipal
{
	overflow: hidden;
}

/* 
 * Estilos para barra de navegación principal (sidebar)
 */

.menu
{
width: 975px;
height: 30px;
float: left;
margin-top: -5px;
position: relative;
z-index: 50;
}


.sidebar
{
	width: 975px;
	height: 20px;
	float: left;
	z-index: 20;
}
.sidebar h2
{
	background-color: #fff;
	color: #3C5126;
	float: left;
	font-size: 23px;
	font-weight: bold;
	margin: 10px 0px 0px 85px;
	text-align: center;
	width: 150px;
}
.sidebar ul
{
	list-style: none;
}
.sidebar ul li
{
	background-color: #000;
	/*  Border Radius */
	-webkit-border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	border-radius: 10px;
	/*----------------*/
	float: left;
	opacity: .7;
	text-align: center;
	margin: 0px 0px ;
	margin: -16px 2.5px 0px 21.5px;
	width: 150px;
}
.sidebar ul li a
{	
	color: #87B642;
	font-size: 18px;
	font-weight: bold;
	text-decoration: none;
}
.sidebar ul li a:hover
{
	color: #fff;
}
.wp-post-image
{
	width: 200px;
	height: auto;
}
.wp-post-image:hover
{
	cursor: pointer;
}

.mensaje
{
	width: 126px;
	height: 200px;
	margin: 111px 0px 0px 0px;
	position: relative;	
	z-index: 10;
	color: white;
    font-family: 'letra';
    font-size: 20px;
    text-align: center;
}
 .mensaje span:first-child{
 	font-weight: bold;
 	font-size: 22px;	
 }