/* 
 * Estilos para barra de navegación de categorias
 */

.imagenPrincipal
{
	overflow: hidden;
}

/* 
 * Estilos para barra de navegación principal (sidebar)
 */

.sidebar
{
	margin: 0 auto;
	height: 50px;
	top: 0px;
	position: relative;
	left: 0;
	z-index: 2;
}
.sidebar h2
{
	background-color: #fff;
	color: #3C5126;
	float: left;
	font-size: 23px;
	font-weight: bold;
	margin: 10px 0px 0px 85px;
	text-align: center;
	width: 150px;
}
.sidebar ul
{
	list-style: none;
}
.sidebar ul li
{
	background-color: #000;
	/*  Border Radius */
	-webkit-border-top-left-radius: 10px;
	-webkit-border-top-right-radius: 10px;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-topright: 10px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	/*----------------*/
	float: left;
	opacity: .7;
	text-align: center;
	margin: 2.5px;
	width: 150px;
}
.sidebar ul li a
{	
	color: #3C5126;
	font-size: 18px;
	font-weight: bold;
	text-decoration: none;
}
.sidebar ul li a:hover
{
	color: #fff;
}
.wp-post-image
{
	width: 200px;
	height: auto;
}
.wp-post-image:hover
{
	cursor: pointer;
}