/* 
    Document   : index
    Created on : 3/07/2013, 06:32:54 PM
    Author     : jmrg
    Description:
        Purpose of the stylesheet follows.
*/


@font-face{ 
  font-family: 'letra';
  src: url(../fonts/font.eot);
  src: url(../fonts/font.eot?#iefix) format('embedded-opentype'),
       url(../fonts/font.woff) format('woff'),
       url(../fonts/font.ttf) format('truetype'),
       url(../fonts/font.svg#webfont) format('svg');
        }


body {
	width: 1366px;
	overflow: hidden;
}

.todo
{
    float: left;
    width: 1366px;
    height: 768px;
    background: #3C5126;
}
.header
{
    float: left;
    width: 1366px;
    height: 95px;
    background: url(../img/header.png);
    border-bottom: 5px solid #BFC4A5;
}
.cajaTitulo
{
    float: left;
    width: 300px;
    height: 95px;
    margin: 0px 0px 0px 533px;;
}
.cajaTitulo img
{
    width: 300px;
    height: 95px;
}
.cajaFacebook
{
    float: left;
    width: 25px;
    height: 25px;
    margin: 37.5px 0px 0px 10px;
}
.cajaFacebook img,
.cajaTwitter img
{
    width: 25px;
    height: 25px;
}
.cajaTwitter
{
    float: left;
    width: 25px;
    height: 25px;
    margin: 37.5px 0px 0px 20px;
}

.principal
{
    width: 975px;
    height: 385px;
    float: left;
}


.cajaTodasImagenes
{
    margin: 0 auto;
    padding-top: 5px;
    width: 975px;
    height: 763px;
    z-index: 1;
    background: #486032;
}

.imagenPrincipal
{
    float: left;
    width: 660px;
    height: 375px;
}
.imagenPrincipal img
{
    width: 660px;
    height: 375px;
}

.imagenesColumnas
{
    float: left;
    width: 315px;
    overflow: hidden;
}
.imagenesCol
{
    float: left;
    width: 150px;
    height: 117px;;
    margin: 5px 0px 0px 5px;
}
.imagenesColUno{
    margin: 10px 0px 0px 5px;
}
.imagenesCol img
{
    width: 150px;
    height: 117px;
}
.imagenesCategorias
{
    float: left;

}
.imgCategorias
{
    float: left;
    width: 180px;
    height: 100px;
    margin: 15px 0px 0px 10px;
}
.imgCategoriasUno
{
    margin: 15px 0px 0px 20px; 
}
.imgCategorias img
{
    width: 180px;
    height: 100px;
    border-radius: 8px 8px 8px 8px;
    border: 1px solid #FFF;
}
.logoFinal
{
    float: left;
    width: 200px;
    height: 100px;
    background-image: url(../img/footer.png);
    margin: 20px 0px 0px 387.5px;
}
.logoFinal img
{
    width: 200px;
    height: 100px
}


.derechos
{
color:white;
height:16;
margin: 15px 0px 0px 380px;
float:left;
font-size: 15px;
font-family:'letra';
width: 250px;
}



/**********************
/    QUIENES SOMOS    *
***********************/

.quienesSomos
{
    float: left;
    width: 640px;
    height: 375px;
    padding: 10px; 
}

.quienesSomos h1{ 
    text-align: center; 
    margin: 20px auto; 
    font-family: 'letra'; 
    font-size: 14px; 
    text-transform: uppercase; 
    color: white;
    text-shadow: 0px 2px 3px #555;
} 


.quienesSomos ul li{ 
    text-align: left; 
    margin: 20px auto; 
    font-family: 'letra'; 
    font-weight: bold;
    font-size: 16px; 
    color: white;
    text-shadow: 0px 2px 3px #555;
} 


.imagenQuienes
{
    float: left;
    width: 315px;
    height: 375px;
    overflow: hidden;

}




/**********************
/    PAQUETES    *
***********************/







.paquetes 
{
        margin: 100px auto 50px auto;
        text-align: center;
        width: 892px; /* total computed width = 222 x 3 + 226 */
    }

    .paquetes .textoPaquetes {
        font: 12px 'Lucida Sans', 'trebuchet MS', Arial, Helvetica;
        text-shadow: 0 1px rgba(255,255,255,.8);        
        background: #fff;      
        border: 1px solid #ddd;
        color: #fff;
        padding: 20px;
        width: 180px; /* plan width = 180 + 20 + 20 + 1 + 1 = 222px */      
        float: left;
        position: relative;
    }
    
    /* --------------- */   

    .paquetes h3
     {
        font-size: 20px;
        font-weight: normal;
        padding: 20px;
        margin: -20px -20px 50px -20px;
        background-color: #87B642;
       
    }
    
    
    .paquetes h3 span 
    {
        display: block;
        font: bold 25px/30px Georgia, Serif;
        color: #777;
        background: #fff;
        border: 5px solid #fff;
        height: 30px;
        width: 150px;
        margin: 10px auto -65px;
        -moz-border-radius: 100px;
        -webkit-border-radius: 100px;
        border-radius: 100px;
        -moz-box-shadow: 0 5px 20px #ddd inset, 0 3px 0 #999 inset;
        -webkit-box-shadow: 0 5px 20px #ddd inset, 0 3px 0 #999 inset;
        box-shadow: 0 5px 20px #ddd inset, 0 3px 0 #999 inset;
    }
    
    /* --------------- */

    .paquetes ul
     {
        margin: 15px 0 0 0;
        padding: 0;
        list-style: none;
        color: #777;

    }

    .paquetes li 
    {
        border-top: 1px solid #ddd;
        padding: 3px 0;
        width: auto;

    }

    /**********************
    /    Contactos    *
    ***********************/
.contacto
{
    float: left;
    width: 487.5px;
    height: 300px;
    padding: 10px; 
}
.tituloContacto
{
    float: left;
    width: 220px;
    height: 50px;
    margin: 0px 377.5px 0px 377.5px;
    color: #FFF;
    font-family: letra;
    font-size: 50px;
}
.contactos form
{
    float: left;
    width: 487.5px;
    height: 300px;
    background: #3C5126;
    margin: 0px 0px 0px 0px;
}
.contactos h3
{
    float: left;
    width: 80px;
    font-family: letra;
    font-size: 15px;
    height: 20px;
    color: #FFF;
    margin: 10px 0px 0px 10px;
}
.contactos input[type="text"]
{
    float: left;
    width: 300px;
    height: 20px;
    margin: 10px 0px 0px 5px;
    font-family: letra;
}
.contactos textarea
{
    float: left;
    width: 300px;
    height: 100px;
    margin: 10px 0px 0px 5px;
    font-family: letra;
}
.botonAceptar,
.botonBorrar
{
    float: left;
    width: 100px;
    height: 25px;
    font-family: letra;
    margin: 10px 0px 0px 35px;
}
