/* 
    Document   : index
    Created on : 3/07/2013, 06:32:54 PM
    Author     : jmrg
    Description:
        Purpose of the stylesheet follows.
*/


@font-face{ 
  font-family: 'letra';
  src: url(../fonts/font.eot);
  src: url(../fonts/font.eot?#iefix) format('embedded-opentype'),
       url(../fonts/font.woff) format('woff'),
       url(../fonts/font.ttf) format('truetype'),
       url(../fonts/font.svg#webfont) format('svg');
        }


body {
	width: 1366px;
	overflow: hidden;
}

.todo
{
    float: left;
    width: 1366px;
    height: auto;
    background: #89B642;
    z-index: 1;
}


/**********************
/    HEADER            *
***********************/


.header
{
    float: left;
    width: 1366px;
    height: 95px;
    background: url(../img/header.png);
    border-bottom: 5px solid #BFC4A5;

}
.cajaTitulo
{
    float: left;
    width: 300px;
    height: 95px;
    margin: 0px 0px 0px 533px;
    background-color: #f4f7ea;
    background-image: url(../img/logo.png);

}
.cajaTitulo img
{
    width: 300px;
    height: 95px;
}
.cajaFacebook
{
    float: left;
    width: 25px;
    height: 25px;
    margin: 37.5px 0px 0px 10px;
}
.cajaFacebook img,
.cajaTwitter img
{
    width: 25px;
    height: 25px;
}
.cajaTwitter
{
    float: left;
    width: 25px;
    height: 25px;
    margin: 37.5px 0px 0px 20px;
}

/**********************
/ CONTENEDOR PRINCIPAL *
***********************/


.principal
{
    width: 622px;
    height: 415px;
    float: left;
    background: #486032;
    margin-left: 190px;
    z-index: 1;


}

/**********************
/    IMAGENES    *
***********************/



.cajaTodasImagenes
{
    margin: 0 auto;
    padding-top: 5px;
    width: 975px;
    height: 600px;
    z-index: 1;
    background: #486032;
    z-index: 100;
}

.imagenPrincipal
{
    float: left;
    width: 660px;
    height: auto;
}
.imagenPrincipal img
{
    width: auto;
    height: auto;
}

.imagenesColumnas
{
    float: left;
    width: 315px;
    overflow: hidden;
}
.imagenesCol
{
    float: left;
    width: 150px;
    height: 117px;;
    margin: 5px 0px 0px 5px;
}
.imagenesColUno{
    margin: 10px 0px 0px 5px;
}
.imagenesCol img
{
    width: 150px;
    height: 117px;
}



/**********************
/IMAGENES CATEGORIAS  *
***********************/



.imagenesCategorias
{
    float: left;
    width: 670px;
    height: 170px;
    margin: -80px 0px 0px 167px;
    position: relative;
    z-index: 100;

}

.imgCategorias
{
    float: left;
    width: 123px;
    height: 163px;
    margin: 0px 0px 0px 10px;

}
.imgCategoriasUno
{
    margin: 0px 0px 0px 5px; 
}
.imgCategorias img
{
    width: 123px;
    height: 163px;
    border-radius: 8px 8px 8px 8px;
    border: 1px solid #FFF;
}


/**********************
/    LOGO FINAL        *
***********************/


.logoFinal
{
    float: left;
    width: 200px;
    height: 100px;
    background-image: url(../img/footer.png);
    margin: 20px 0px 0px 387.5px;
}
.logoFinal img
{
    width: 200px;
    height: 100px;
    background-image: url(../img/footer.png);
}


/**********************
/    DERECHOS         *
***********************/


.derechos
{
color:white;
height:16;
margin: 15px 0px 0px 380px;
float:left;
font-size: 15px;
font-family:'letra';
width: 250px;

}

/**********************
/    QUIENES SOMOS    *
***********************/

.quienesSomos
{
    float: left;
    width: 640px;
    height: 375px;
    padding: 10px; 
}

.quienesSomos h1{ 
    text-align: center; 
    margin: 20px auto; 
    font-family: 'letra'; 
    font-size: 14px; 
    text-transform: uppercase; 
    color: white;
    text-shadow: 0px 2px 3px #555;
} 


.quienesSomos ul li{ 
    text-align: left; 
    margin: 20px auto; 
    font-family: 'letra'; 
    font-weight: bold;
    font-size: 16px; 
    color: white;
    text-shadow: 0px 2px 3px #555;
} 


.imagenQuienes
{
    float: left;
    width: 315px;
    height: 375px;
    overflow: hidden;

}


/**********************
/    PAQUETES    *
***********************/

.paquetes 
{
        margin: 50px auto 50px auto;
        text-align: center;
        width: 892px; /* total computed width = 222 x 3 + 226 */
    }

    .paquetes .textoPaquetes {
        font: 12px 'Lucida Sans', 'trebuchet MS', Arial, Helvetica;
        text-shadow: 0 1px rgba(255,255,255,.8);        
        background: #fff;      
        border: 1px solid #ddd;
        color: #fff;
        padding: 20px;
        width: 180px; /* plan width = 180 + 20 + 20 + 1 + 1 = 222px */      
        float: left;
        position: relative;
    }
    
    /* --------------- */   

    .paquetes h3
     {
        font-size: 20px;
        font-weight: normal;
        padding: 20px;
        margin: -20px -20px 50px -20px;
        background-color: #87B642;
       
    }
    
    
    .paquetes h3 span 
    {
        display: block;
        font: bold 25px/30px Georgia, Serif;
        color: #777;
        background: #fff;
        border: 5px solid #fff;
        height: 30px;
        width: 150px;
        margin: 10px auto -65px;
        -moz-border-radius: 100px;
        -webkit-border-radius: 100px;
        border-radius: 100px;
        -moz-box-shadow: 0 5px 20px #ddd inset, 0 3px 0 #999 inset;
        -webkit-box-shadow: 0 5px 20px #ddd inset, 0 3px 0 #999 inset;
        box-shadow: 0 5px 20px #ddd inset, 0 3px 0 #999 inset;
    }
    
    /* --------------- */

    .paquetes ul
     {
        margin: 15px 0 0 0;
        padding: 0;
        list-style: none;
        color: #777;

    }

    .paquetes li 
    {
        border-top: 1px solid #ddd;
        padding: 3px 0;
        width: auto;

    }



.terminos span
{
     display: none;
}



.terminos{
    
      width: 50px;
      height: 50px;
      float: right;
      margin: 0 auto;
      z-index: 10;
      position: relative;
      
          
  }


.boton {
    background-color:transparent;
    -moz-border-radius:13px;
    -webkit-border-radius:13px;
    border-radius:13px;
    border:1px solid #7e807c;
    display:inline-block;
    color:#ffffff;
    font-family:arial;
    font-size:13px;
    font-weight:bold;
    padding:2px 11px;
    text-decoration:none;
    text-shadow:1px 1px 3px #528009;
        
        
}.boton:active {
    position:relative;
    top:1px;
}

.condiciones
{
float: left;
width: 975px;
height: 200px;
background-color: red;
margin: 10px 0px 0px 0px;
text-align: center;
font-family: 'letra'
}