body
{
	background-color: #87B642;
}
.todo
{
	background-color: #87B642;
}
.fondoQuienes
{
	float: left;
	height: 100%;
	position: absolute;
	width: 100%;
	top: 100px;
	left: 0;
	z-index: 1;
}
.fondoQuienes
{
	float: left;
	height: 700px;
	overflow: hidden;
	width: 1366px;
}

.fondoQuienes img
{
	float: left;
	margin: -350px 0px 0px 0px;
	position: absolute;
	opacity: .8;
	width: 1366px;
	z-index: 2;
}
.quienesSomos
{
	
	height: auto;
	width: 700px;
	position: relative;
	z-index: 2;
	float: left;
}
.quienesSomos p
{
	float: left;
	width: 640px;
}
.imagenQuienes
{
	margin: 0px 0px 0px 0px;
	width: 250px;
	height: 375px;
		position: relative;
	z-index: 10;
	
}

.imagenQuienes img
{
	float: right;
	margin: 15px 0px 0px 0px;
	width: 250px;
	height: 375px;

}