body
{
	background-color: #87B642;
}
.todo
{
	background-color: #87B642;
}
.fondoQuienes
{
	float: left;
	height: 100%;
	position: absolute;
	width: 100%;
	top: 100px;
	left: 0;
	z-index: 1;
}
.fondoQuienes img
{
	float: left;
	width: 1366px;
}
.quienesSomos
{
	margin: 0 auto;
	height: 375px;
	width: 955px;
	position: relative;
	z-index: 2;
}
.quienesSomos p
{
	color: #fff;
	float: left;
	width: 640px;
}
.quienesSomos img
{
	float: left;
	width: 315px;
}